<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes" />

    <title><%= @app['name'] %></title>
    <link rel="stylesheet" href="stylesheets/screen.css" media="Screen" type="text/css" />
    <link rel="stylesheet" href="stylesheets/mobile.css" media="handheld, only screen and (max-width: 480px), only screen and (max-device-width: 480px)" type="text/css" />

    <!--[if IEMobile]>
    <link rel="stylesheet" href="mobile.css" media="screen" type="text/css"  />
    <![endif]-->

    <!-- These are Open Graph tags.  They add meta data to your  -->
    <!-- site that facebook uses when your content is shared     -->
    <!-- over facebook.  You should fill these tags in with      -->
    <!-- your data.  To learn more about Open Graph, visit       -->
    <!-- 'https://developers.facebook.com/docs/opengraph/'       -->
    <meta property="og:title" content="<%= @app['name'] %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= url %>" />
    <meta property="og:image" content="<%= url('/logo.png') %>" />
    <meta property="og:site_name" content="<%= @app['name'] %>" />
    <meta property="og:description" content="My First App" />
    <meta property="fb:app_id" content="<%= @app['name'] %>" />

    <script type="text/javascript" src="/javascripts/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery-ui-1.8.21.custom.min.js"></script>


		<style>
			#products { float:left; width: 500px; margin-right: 2em; }
			#cart { width: 200px; float: left; }
			/* style the list to maximize the droppable hitarea */
			#cart ol { margin: 0; padding: 1em 0 1em 3em; }
			</style>
			
			
		<script>
		  var DOMAIN = 'https://apps.facebook.com/349009881841220/' // 'http://localhost:5000
		  $(function() { 
				browse("/");
				$(document).delegate("ul#files-ul li", "mouseenter", function(){
					$(this).draggable({
						appendTo: "body", 
						helper: "clone", 
						revert: "true"
					});
				});
				$( "li.friend-droppable" ).droppable({ 
					activeClass: "ui-state-default", 
					hoverClass: "ui-state-hover", 
					accept: ":not(.ui-sortable-helper)", 
					drop: function( event, ui ) {
						var filename = ui.draggable.text().replace(/^\s+|\s+$/g,'') 
						var friend_name = $(this).text().replace(/^\s+|\s+$/g, '') 
						var friend_id = event.target.id 
						FB.ui( { 
							method: 'apprequests', 
							message: "I want to share \"" + filename + "\" with you, "+friend_name.split(" ")[0] + "!",
						  to: friend_id },
					    function (response) { // If response is null the user canceled the dialog
						  	if (response != null) { 
									$.post(
										DOMAIN + '/share', 
										{"friend_id": friend_id, "file_name" : filename},
	      						function(data){},
										"html"
									);
								} 
								logResponse(response);
							}
						)
					}
				})
				$(document).delegate('a.directory','click', function(e){
					e.preventDefault()
					browse(this.id)
				})
				
				// Set up so we handle click on the buttons
        $('#postToWall').click(function() {
          FB.ui(
            {
              method : 'feed',
              link   : $(this).attr('data-url')
            },
            function (response) {
              // If response is null the user canceled the dialog
              if (response != null) {
                logResponse(response);
              }
            }
          );
        });

        $('#sendToFriends').click(function() {
          FB.ui(
            {
              method : 'send',
              link   : $(this).attr('data-url')
            },
            function (response) {
              // If response is null the user canceled the dialog
              if (response != null) {
                logResponse(response);
              }
            }
          );
        });

        $('#sendRequest').click(function() {
          FB.ui(
            {
              method  : 'apprequests',
              message : $(this).attr('data-message')
            },
            function (response) {
              // If response is null the user canceled the dialog
              if (response != null) {
                logResponse(response);
              }
            }
          );
        });		
			});
			
			function logResponse(response) { 
				if (console && console.log) { 
					console.log('The response was', response);
				}
			} 
			function browse(directory){
      	$.post(
				  DOMAIN + '/browse',
				  {"dir" : directory},
				  function(data){
			      $("#file-browser").replaceWith(data)
			    },
			    "html"
			  );
		  }
    </script>

    <!--[if IE]>
      <script type="text/javascript">
        var tags = ['header', 'section'];
        while(tags.length)
          document.createElement(tags.pop());
      </script>
    <![endif]-->
  </head>
  <body>
    <div id="fb-root"></div>
    <script type="text/javascript">
      window.fbAsyncInit = function() {
        FB.init({
          appId      : "<%= @app['id'] %>",                     // App ID
          channelUrl : "<%= url_no_scheme('/channel.html') %>", // Channel File
          status     : true,                                    // check login status
          cookie     : true,                                    // enable cookies to allow the server to access the session
          xfbml      : true                                     // parse XFBML
        });

        // Listen to the auth.login which will be called when the user logs in
        // using the Login button
        FB.Event.subscribe('auth.login', function(response) {
          // We want to reload the page now so Ruby can read the cookie that the
          // Javascript SDK sat. But we don't want to use
          // window.location.reload() because if this is in a canvas there was a
          // post made to this page and a reload will trigger a message to the
          // user asking if they want to send data again.
          window.location = window.location;
        });

        FB.Canvas.setAutoGrow();
      };

      // Load the SDK Asynchronously
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

    <header class="clearfix">
      <% if @user %>
          <p id="picture" style="background-image: url(https://graph.facebook.com/<%= @user['id'] %>/picture?type=normal)"></p>
          <div>
            <h1>Welcome to BoxMe, <strong><%= @user['name'].split(" ")[0] %>!</strong></h1>
          </div>
      <% else %>
        <div>
          <h1>Welcome to BoxMe!</h1>
            <p>Please sign in with Facebook</p>
            <a href='/auth/facebook' class="fb_button fb_button_medium">
              <span class="fb_button_text">Log In</span>
            </a>
        </div>
      <% end %>
    </header>
    <% unless @user %>
      <section id="guides" class="clearfix thin"></section>
    <% else %>
		<div id="share-app">
		  <p>Share this app:</p>
		  <ul>
		    <li>
		      <a href="#" class="facebook-button" id="postToWall" data-url="<%= url %>">
		        <span class="plus">Post to Wall</span>
		      </a>
		    </li>
		    <li>
		      <a href="#" class="facebook-button speech-bubble" id="sendToFriends" data-url="<%= url %>">
		        <span class="speech-bubble">Send Message</span>
		      </a>
		    </li>
		    <li>
		      <a href="#" class="facebook-button apprequests" id="sendRequest" data-message="Test this awesome app">
		        <span class="apprequests">Send Requests</span>
		      </a>
		    </li>
		  </ul>
		</div>
      <section id="guides" class="clearfix thin"> 
        <h3 class="centered"> Start sharing files now!</h3>
				<h5 class="centered">Drag a file over a friend to share it with them!</h5>
      </section>
        
    <section id="samples" class="clearfix">
          
			<div class="list" id="files">
          <h3>Your BoxMe Files:</h3>
          <div id="file-browser"></div>
      </div>


			<div class="list" id="friends">
	         <h3>A few of your friends</h3>
	         <ul class="pretty">
	           <% @friends.each do |friend| %>
	             <li class="friend-droppable" id="<%=friend['uid']%>">
	               <a href="#" onclick="window.open('http://www.facebook.com/<%= friend['id']%>')">
	                 <img src="https://graph.facebook.com/<%= friend['uid'] %>/picture?type=square" alt="<%= friend['name'] %>">
	                 <%= friend['name'] %>
	               </a>
	             </li>
	           <% end %>
	         </ul>
	       </div>



        </section>

				<section id="guides" class="clearfix">
		      <h1>Add more cloud storage services</h1>
		      <ul>
		        <li>
			        <% if @dropbox_enabled %>
		            <a href='#' class="icon dropbox" id="light-dropbox">Dropbox</a>
		          <% else %>
	              <a href='auth/dropbox' class="icon dropbox">Dropbox</a>
		          <% end %>
		          <p>Info about Dropbox.</p>
		        </li>
		        <li>
		          <a href="#" class="icon google-drive">Google Drive</a>
		          <p>
		            Info about Google Drive.
		          </p>
		        </li>
		        <li>
		          <a href="#" class="icon sky-drive">Windows Live Sky Drive</a>
		          <p>
		            Info about Sky Drive.
		          </p>
		        </li>
		        <li>
		          <a href="#" class="icon amazon-s3">Amazon S3</a>
		          <p>Info about Amazon S3.</p>
		        </li>
		      </ul>
		    </section>
		    <div>
			    <h2>Debug Info</h2>
			    <p>Response: <%= @response %> </p>
		      <p>Dropbox Token: <%= @dropbox_enabled %> </p>
		      <p>Current Directory: <%= @cur_dir %></p>

			    
			  </div>
    <% end %>
  </body>
</html>